{% load staticfiles %}
<html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      

	  <link rel="stylesheet" href="{% static 'css/misestilos.css' %}">
	  <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
	  <link rel="stylesheet" href="{% static 'css/fonts.css' %}">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	  <title>The Materialize Range Example</title>
      <meta name = "viewport" content = "width = device-width, initial-scale = 1">      
      <link rel = "stylesheet"
         href = "https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel = "stylesheet"
         href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
      <script type = "text/javascript"
         src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
      </script> 
	  <!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">

		<!-- Compiled and minified JavaScript -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

		<script>
			$(document).ready(function() {
			$('select').material_select();
			});
		</script>
		
		
	
		
		
    </head>

    <body>

		<div class = "social-bar">
			<a href = "https://www.facebook.com/groups/254341884745330/" class = "icon icon-facebook" target="_blank"></a>
			<a href = "https://plus.google.com/communities/114674295027208879308?hl=es" class = "icon icon-google-plus" target="_blank"></a>
			<a href = "https://www.instagram.com/adoptaaunperritochile/" class = "icon icon-instagram" target="_blank"></a>
			<a href = "https://www.google.com/gmail/" class = "icon icon-envelop" target="_blank"></a>	
		</div>
	
		<header>
			<div class = "navbar-fixed">
				<nav class = "#80cbc4 teal lighten-3">
					<div class="nav-wrapper">
						<a href = "#" class = "brand-logo"> <img src="{% static 'img/logo.png' %}"> </a>
						<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
						<ul class="right hide-on-med-and-down">
							<li><a href="Principal">Inicio</a></li>
							<li><a href="somos">Quienes Somos</a></li>
							<li><a href="servicios">Servicios</a></li>
							<li><a href="contactanos">Contactanos</a></li>				
						</ul>
					</div>
				</nav>
			</div>
			<ul class = "sidenav" id = "mobile-demo">
				<li><a href="Principal">Inicio</a></li>
						<li><a href="somos">Quienes Somos</a></li>
						<li><a href="servicios">Servicios</a></li>
						<li><a href="contactanos">Contactanos</a></li>
				
			</ul>

		</header>
		<main>
			{% block content %}
			{% endblock %}
		</main>	
		
		
		
		<div class="section container">
			<div class="row">
				<form method="Usuario" action="" class="col s12">{% csrf_token %}
					
					
					<div class="row card-panel ">
					
						<div class="row">
							<div class="input-field col s10">
								<i class="material-icons prefix">email</i>
								<input name="email" id="email" type="email" class="validate" required>
								<label for="email">Ingresar E-Mail </label>
							</div>
						</div>
						
						<div class="row">
							<div class="input-field col s10">
								<i class="material-icons prefix">perm_identity</i>
								<input type="text"  id="rut" name="rut" required oninput="checkRut(this)" >
								<label for="rut">Ingresar Rut </label>
								<script src="{% static 'validarRUT.js' %}"></script>
							</div>
							
						</div>
						
						<div class="row">
							<div class="input-field col s10">
								<i class="material-icons prefix">account_circle</i>
								<input name="nombre" id="nombre" type="text" class="validate" maxlength="50" onkeypress="return soloLetras(event)" required>
								<label for="nombre">Ingresar Nombre Completo </label>
							</div>	
								
						</div>
						
						<div class="row">
							<div class="input-field col s6">
								 <i class="material-icons prefix">event</i>
								
								<input name="fecha" type="date" class="date" id="fecha" max="2000-12-31"  required>      
							</div>	
									
							<div class="input-field col s4">
								<i class="material-icons prefix">phone</i>
								<input name="fecha" id="celular" type="tel" class="validar" pattern="[0-9]{9}" maxlength="9"  required>
								<label for="celular">Telefono de Contacto :</label>
							</div>
							
						</div>	
						
						
						
						<div class="row">
							<div class="input-field col s5">
								<i class="material-icons prefix">public</i>
								 <select id="comuna" name="comuna" required>
									<option value="" disabled selected> Seleccionar Region</option >
									<option value="1">Tarapacá</option>
									<option value="2">Antofagasta </option>
									<option value="3">Atacama</option>
									<option value="4">Coquimbo </option>
									<option value="5">Valparaíso  </option>
									<option value="6">O'Higgins  </option>
									<option value="7">El Maule  </option>
									<option value="8">El Bío Bío  </option>
									<option value="9">La Araucanía  </option>
									<option value="10">Los Lagos  </option>
									<option value="11">Aysén  </option>
									<option value="12">Magallanes y Antártica Chilena  </option>
									<option value="13">Región Metropolitana de Santiago  </option>
									<option value="14">Los Ríos  </option>
									<option value="15">Arica y Parinacota  </option>
								</select>	
									
							</div>	
							
							<div class="input-field col s5">
								<i class="material-icons prefix"></i>
								 <select id="region" name="region" required>
									<option value="" disabled selected>Seleccionar Ciudad</option >
									<option value="1"> Iquique</option>
									<option value="2">Antofagasta </option>
									<option value="3">Copiapó</option>
									<option value="4">La Serena</option>
									<option value="5">Valparaíso</option>
									<option value="6">Rancagua</option>
									<option value="7">Talca</option>
									<option value="8">Concepción</option>
									<option value="9">Temuco</option>
									<option value="10">Puerto Montt</option>
									<option value="11">Coyhaique</option>
									<option value="12">Punta Arenas</option>
									<option value="13">Santiago</option>
									<option value="14">Valdivia</option>
									<option value="15">Arica</option>
								 </select>
							</div>										
						</div>
						
						<div class="row">
							
							<div class="input-field col s5">
								<i class="material-icons prefix">home</i>
								 <select id="vivienda" name="vivienda" required>
									<option value="" disabled selected> Seleccionar Tipo de Vivienda</option >
									<option value="1">Casa con patio grande</option>
									<option value="2">Casa con patio pequeño </option>
									<option value="3">Casa sin patio</option>
									<option value="3">Departamento</option>
								 </select>
							</div>										
						</div>
						
					
						<div class="row">
							<div class="input-field col s2">
								<button class="btn"  type="submit">Guardar</a>
								
								
							</div>
							
						</div>
					
					</div>
					
				</form>	
			</div>
		</div>	
			
		
		
      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="{% static 'js/materialize.minf.js' %}"></script>
		
	  <script>
		  document.addEventListener('DOMContentLoaded', function() {
		  var elems = document.querySelectorAll('.sidenav');
		  var instances = M.Sidenav.init(elems);
		  });
	  </script>
	
	  <script>
			function soloLetras(e){
			   key = e.keyCode || e.which;
			   tecla = String.fromCharCode(key).toLowerCase();
			   letras = " áéíóúabcdefghijklmnñopqrstuvwxyz";
			   especiales = "8-37-39-46";

			   tecla_especial = false
			   for(var i in especiales){
					if(key == especiales[i]){
						tecla_especial = true;
						break;
					}
				}

				if(letras.indexOf(tecla)==-1 && !tecla_especial){
					return false;
				}
			}	
	</script>
	
	 <footer >	
		<BR>
		Desarrollo Web y Mobile
		<BR>
	  </footer>
    </body>
  </html>